bucket_name =
bucket_versioning_enabled =
project =
env =
name =
layer_create =
layer_bucket_name =
runtime =
handler =
memory_size =
package_type =
timeout =
layer_powertools =
environment_variables =
ssm_params =